@import 'tailwindcss';

@theme {
  --color-ui-bg-main: var(--bg);
  --color-ui-text-main: var(--text);
  --color-ui-text-heading: var(--text-h);

  --color-ui-border-main: var(--border-main);
  --color-ui-border-light: var(--border-light);
  --color-ui-bg-card: var(--bg-card);
  --color-ui-bg-header: var(--bg-header);
  --color-ui-bg-hover: var(--bg-hover);

  --color-ui-accent-bg: var(--accent-bg);
  --color-ui-accent-hover: var(--accent-hover);
  --color-ui-accent-solid: var(--accent-solid);

  --radius-ui-container: 0.75rem;
  --radius-ui-control: 0.25rem;
}

:root {
  --bg: var(--color-white);
  --text: var(--color-gray-600);
  --text-h: var(--color-gray-900);

  --border-main: var(--color-gray-200);
  --border-light: var(--color-gray-100);
  --bg-card: var(--color-white);
  --bg-header: rgba(249, 250, 251, 0.75); /* gray-50 c прозрачностью */
  --bg-hover: rgba(249, 250, 251, 0.5);

  --accent-bg: rgba(239, 246, 255, 0.5); /* blue-50 */
  --accent-hover: rgba(219, 234, 254, 0.6); /* blue-100 */
  --accent-solid: var(--color-blue-600);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-gray-950);
    --text: var(--color-gray-400);
    --text-h: var(--color-gray-100);

    --border-main: var(--color-white-800);
    --border-light: var(--color-white-900);
    --bg-card: var(--color-gray-900);
    --bg-header: rgba(17, 24, 39, 0.75); /* gray-900 с прозрачностью */
    --bg-hover: rgba(31, 41, 55, 0.5); /* gray-800 */

    --accent-bg: rgba(30, 58, 138, 0.25); /* blue-950 */
    --accent-hover: rgba(30, 58, 138, 0.45);
    --accent-solid: var(--color-blue-500);
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
